# hatchling uses the gitignore at the same level as pyproject.toml
# to determine inclusion, so duplicate parent lines
.*.swp
.vscode

__pycache__
*.egg-info
dist/
build/

.mypy_cache/
.pytest_cache/
